<h1>Dairy Diary</h1>

<h2>Please enter note title and body below</h2>


<form action="/submit" method="post">
  <input type="text" name=title placeholder="Note Title">

  <input type="text" name=body placeholder="Body of note">
  <input type="submit" name="Add">
</form>